@CHARSET "ISO-8859-1";
body {
    font-family: "Lato", sans-serif;
}
/*--------------------------------------------------Right Side menu-1 Navigation-1-------------------------------------------------========*/
.sidenav {
    height: 100%;
	width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#bff5ee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	
}

.sidenav a {
	
    padding: 7px 0px 7px 28px;
    text-decoration: none;
    font-size: 25px;
    color: black;
  /*   display: block; */
    transition: 0.3s
    
}

.sidenav a:hover, .offcanvas a:focus{
    color: white;
}

.sidenav .closebtn {
    position: absolute;
	float: right;
	margin-left:70%;
    top:0;
    font-size: 36px;
    
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    
}

@media screen and (max-height: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 28px;}
}

/*------------------------------------------------------------Yellow color strip  css--------------------------------------------------------------- */
#dp{
	/* width:100%;
    height:100%;
	border-radius: 40%;
	border-top-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 50%;
  
    border: 2px;
    float: left;
    margin-top:5%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    max-width: 100%; */
	
	max-width: 300%;
	width: 315%;
    height: 236%;
    border-radius: 40%;
	border-top-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 50%;
    border: 2px;
    float: left;
    margin-top:19%;
    margin-right: 0.5%;
    margin-left: 12%;
    
	
}



/*----------------------------------- main part  where data of all page  load---------------------------------------------------------------------*/
#body{
	float: left;
	width:87.8%;
	margin-left:0.2%;
	margin-top:10%;
}
/*--------------------------------------------------Right Side menu Navigation-------------------------------------------------========*/
#mySidenavRight a {
    position: fixed;
    left: -93px;
    transition: 0.3s;
    padding: 10px;
    width: 150px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    border-radius: 0 5px 5px 0;
    margin-top: 20%;
}

#mySidenavRight a:hover {
    left: 0;
    
}

#Profile{
    top: 20px;
    background-color: #2196F3;
}
#Winner {
    top: 80px;
    background-color: #4CAF50;
}

#Upload_pic {
    top: 140px;
    background-color: #f44336;
}

#My_own_pic{
    top: 200px;
    background-color: #555
}

/*-------------------------------------------------body where pics load ----------------------------------------------------------------*/



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  border: 2px solid #1E88E5  ;
  float: left;
  width: 18%;
  margin-bottom: 16px;
  margin-left:1.5%;
  margin-top:1.5%;
  padding: 0 8px;
  background-color:white;
  
}

@media (max-width: 650px) {
  .column {
    width: 100%;
	display: block;
	
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top:2%;
 }

.container {
  padding: 0 16px;
  
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
    border-radius: 7px;
    /* border: 2px solid black; */
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    font-size: 18px;
    background-color: #7f7f7f;;
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
}
.button:hover {
  background-color: #555;
}

/*======================================Logout Button==================================================================*/
.buttonLogout {
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  float:right;
  
  
  
}

.buttonLogout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonLogout span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonLogout:hover span {
  padding-right: 25px;
}

.buttonLogout:hover span:after {
  opacity: 1;
  right: 0;
}
/*----------------------code for paginatiomn button--------------------------------------------------------------*/
.btn {
	
    border: 1px;
     border: none;
/*     color: white; */
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
        margin-top: 21;
  /*   border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; */
}

.success {background-color: black;} /* Green */
.success:hover {background-color: rgb(0,255,0);}

.info {background-color:black;} /* Blue */
.info:hover {background: red;}


/*--------------------------------css for Testimonial=--------------------------------------------------------------------------*/

/* .containertestimonial {
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.containertestimonial::after {
  content: "";
  clear: both;
  display: table;
}

.containertestimonial img {
  border: 2px solid blue;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.containertestimonial span {
  font-size: 20px;
  margin-right: 15px;
  
}

@media (max-width: 500px) {
  .containertestimonial {
      text-align: center;
  }
  .containertestimonial img {
      margin: auto;
      float: none;
      display: block;
  }
} */

/*-------------------Css for feed back form---------------------*/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content-feedbackpopup {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #06ccb3;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 7px 16px;
    background-color: #06ccb3;
    color: white;
}

/*--css for feedback submit button ---*/
.button_submit {
     border-radius: 7px;
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}



.submit {background-color: #7f7f7f;} /* Blue */
.submit:hover {background:#ddd;}


/* **********************************************setting page success button ***********************  */
.btn_setting {
    width:8%;
	border-radius:25%;
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
	position :relative;
	margin-left:42%;
}
.success {background-color: #4CAF50;} Green
.success:hover {background-color: #46a049;}



/* **********************************************Winner page  ***********************  */

.containerwinner {
  width:50%;
  border-radius: 5px;
  padding: 16px;
  marging-left:10%;
  
  
}

.containerwinner img {
    border: 2px solid blue;
    border-radius: 50%;
    margin-left:50%;
	
	
}
.containerwinner span {
  font-size: 18px;
  padding:2px;
  color:white;
  
  
}

@media (max-width: 500px) {
  .containerwinner {
      text-align: center;
  }
  .containerwinner img {
      margin: auto;
      float:none;
      display: block;
	  
  }
}

.container_img_header{
background-color:rgba(0, 212, 163, 0.21);

}