<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="../css/home.css">
</head>
<body>
<div id="Container1">
  <div id="header"></div>
  <div id="menu"></div>
</div>

<div id="Container2">
  <div id="coverpage">
   <img src="images\11.jpg"  width="100%" height="100%"/>
  </div>
</div>

<div id="Container3">
   <div id="leftmenu"></div>
   <div id="middlemain"></div>
   <div id="rightmenu">
         <div id="rightmenutop"></div>
         <div id="rightmenubottom"></div>
      </div>
</div>
  
      
     <div id="Container4"></div>
     <div id="footer">
     <img src="images\5.jpg"  width="100%" height="100%"/>
     </div>
</body>
</html>