
<html>
<head></head>
<body>
     <h1 style="text-align:center;"><font color="white">  # My PhonenixMoment</font></h1>
     
     <h2 align="center" ><center>
     <font color="white">click photo</font>  <marquee  scrollamount="5" direction="right" width="40">&gt;  &gt;</marquee>
     <font color="white"> Upload  </font>     <marquee  scrollamount="5" direction="right" width="40"> &gt;  &gt;</marquee>
     <font color="white"> Get votes </font>   <marquee  scrollamount="5" direction="right" width="40">&gt;  &gt;</marquee>
     <font color="white"> Win </font> </center></h2>

             <font color="white"> How to participate:</font><br/>

                   <p>  1.click your photo at phoenix MarketCity,Bangalore<br/>
                        2.Upload the photo and fil in the form to the right<br/></p>

             <font color="white">How to win:</font><br/>

                     <p>1. The photo with the most votes..win<br/></p>

             <font color="white">Prizes*:</font><br/>
 
                     <p>1.Grand prise iPadmini <br/>
                        2.FIVE weekly winners to get unconditional cash <br/>
                        3. vouchers** <br/></p>

            <font color="white">*Terms and condition:</font><br/>
  
                <p>  1.Entry only on the basis of email ids(one entry per email)<br/>
                     2.photo must be clicked at phoenix marketCity ,Bnagaloe peemise Selfie
                        & group photes are welcome.<br/>
                     3.Mention of #MyphonenixMoment in the description is a must<br/>
                     4.Photo with the highest number of votes, status a Chance to win an iPad and weeekly cash vouchers.
                     5.Vouchers can cast the vote to contestants using their email id. only VALID
                          email ids to be considered for voting.<br/>
                     6.Five weekly winners will be announced on the basis of highest votes & 
                       weekly winners will not be considered for upcoming week contest to win
                       weekly cash vouchers.<br/>
                     7.Weekly winners are eligible to compete for iPad and may continuos to get
                       votes for the same.<br/>
                     8.winners will be announced on our facebook page. Further, Winners will be 
                        conducted via phones or email for price distribute.<br/>
                     9.Unconditional cash vouchers can be redooffod(refferd) mall respective mail stores<br/>
                     10.The decision of the organiser will be FINAL & no communication in this 
                        regard shall be entertained by the organiser.<br/>
                     11.**The weekly winners countdown will stop Saturday Midnight(11:59 PM),
                           the lucky winners will be announced every Sunday, Le on 12th,19th,
                           26th of july and 2nd of August.<br/>
                     12.**iPad Winner will be announced on 2nd August.<br/>
                     13.Entries from the employees of phoenix MarketCity and agencies announced
                        with phoenix MarketCity are not eligible to win.<br/></p>

</body>
</html>