
    <!-- Site Body Content Start -->
    
    <section class="info-content clearfix">
            	<div class="info-container">
                 <ul class="breadcrumb"><li><a ng-if="role === 'ADMIN'" href="#/CiDowntimeDetails">CI Downtime Details</a><a ng-if="role === 'SUPERVISOR' || role === 'OPERATOR'" href="#/CiDowntimeDetails">CI Downtime Details</a></li><li>Manage CI Downtime Details</li></ul>
           		 <div class="rightbar">
				  <a class="RightNavButtons btnAddUser" data-target="#ModalAddCIDowntime" data-toggle="modal" ng-click="openAddCIDowntimeDetail(addDowntimeCIForm)">Add CI Downtime Details<i></i></a>
                 </div>
               </div>
            </section>
            <section class="body-content">
            	<div class="body-container">
				<h3 class="pageHeader">Manage CI Downtime Details</h3>      
                  <div class="PageContent">   
                            Hi Buddy Kase ho
                  </div>
	         </div>
             </div>
            </section>
    
   