/* Default color scheme */


/* General */

body {
    font-family: 'open_sansregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #7f7f7f;
    background-color: #fff;
    line-height: 1.42857143; font-weight:normal;
}
label {
    color: #424242;
}
h1, h2, h3, h4, h5, h6{ color: #424242; font-family: 'open_sanssemibold';}

#page-title > h2,
#page-title > p {
       font-family: 'open_sansregular', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
}
.title_txt{font-family: 'open_sanssemibold'; font-weight:normal !important;}
a{ 
    color: #f1f1f1;
 /*    padding: 0 500 34 900; */
}
a:hover{ text-decoration: none;}
a:focus{ outline: inherit; text-decoration:none;}
/* Header */

#page-header .user-account-btn > a.user-profile .glyph-icon,
.logo-bg {   
    color: #fff;
}
#page-header .user-account-btn > a.user-profile {
    color: #fff;
}
/* Header nav left */
/* Header nav right */

#header-nav-right .header-btn .glyph-icon,
#header-nav-right .dropdown > a .glyph-icon {
    color: rgba(255, 255, 255, 0.8);
}
#header-nav-right .header-btn:hover .glyph-icon,
#header-nav-right .dropdown > a:hover .glyph-icon {
    color: rgba(255, 255, 255, 0.95);
}
#header-nav-right .header-btn,
#header-nav-right .dropdown > a {
    border-color: rgba(255, 255, 255, 0.2);
}
#header-nav-right .header-btn:hover,
#header-nav-right .dropdown > a:hover {
    background: rgba(255, 255, 255, 0.09);
    border-color: rgba(255, 255, 255, 0.5);
}
/* Page content */

#page-content {
    background: #fafcfe;
}
/* Sidebar menu */

#page-sidebar ul li.header {
    color: #000;
}
#page-sidebar ul li a .glyph-icon {
    color: #97a8b1;
}
#page-sidebar ul li.sfHover > a.sf-with-ul,
#page-sidebar ul li a:hover {
    border-color: #d1d9dd; border-color: transparent; text-decoration: none;
}
/* Sidebar submenu */

#sidebar-menu li .sidebar-submenu {
    border-color: #f6f7f8;
}
#sidebar-menu li .sidebar-submenu ul li {
    border-color: #f8f9fa;
}
#sidebar-menu li .sidebar-submenu ul li a:hover,
#sidebar-menu li .sidebar-submenu ul li a.sfActive {
    background: #fcfdfe;
}

#sidebar-menu li .sidebar-submenu ul li a.sfActive {
    color: #1c82e1;
}

/* Sidebar alternate style */

#page-sidebar.font-inverse {

}
#page-sidebar.font-inverse ul li.header {
    color: rgba(255, 255, 255, 0.95);
}
#page-sidebar.font-inverse ul li.divider {
    background: rgba(255, 255, 255, 0.1);
}
#page-sidebar.font-inverse #sidebar-menu > li > a {
    color: rgba(255, 255, 255, 0.62);
}
#page-sidebar.font-inverse #sidebar-menu li.sfHover > a.sf-with-ul,
#page-sidebar.font-inverse #sidebar-menu li a:hover {
    border-color: rgba(255, 255, 255, 0.26);
    color: rgba(255, 255, 255, 0.96);
}
#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu {
    border-color: rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.05);
}
#page-sidebar.font-inverse #sidebar-menu li a {
    color: rgba(255, 255, 255, 0.62);
}
#page-sidebar.font-inverse #sidebar-menu li a:hover {
    color: rgba(255, 255, 255, 0.96);
}
#page-sidebar.font-inverse#page-sidebar ul li a .glyph-icon {
    color: rgba(255, 255, 255, 0.8);
}
#page-sidebar.font-inverse#page-sidebar ul li a:hover .glyph-icon {
    color: rgba(255, 255, 255, 1);
    opacity: .90;
    -moz-opacity: .90;
    filter: alpha(opacity: 90);
}
#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu ul li {
    border-color: rgba(255, 255, 255, 0.07);
}
#page-sidebar.font-inverse #sidebar-menu li .sidebar-submenu ul li a:hover {
    background: rgba(255,255,255,0.05);
}


.btn-primary{ background-color: #00bca4; border-color: #00bca4;}

.supplyer_reg_form  label{ color: #5a5a5a; font-weight: 400; }

.supplyer_reg_form .has-error .form-control{ border-color: #ff7575; background-color: #ffeaea;}
.error_textarea .form-control{ border-color : #8c9aff; box-shadow : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.4);}

.form-control::-moz-placeholder {
    color: #a2a2a2;   
}

.form-horizontal .control-label{ text-align: left;}


.form-control,
.form-control:focus{ box-shadow: none;}

.btn:focus{  -webkit-box-shadow: none;     box-shadow: none;}

.table-bordered{ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{ padding: 6px 5px;}
.creat_btn .dropdown-menu > li > a {
    height: 35px;
    padding: 7px 10px;
    width: 207px;
}
.creat_btn .dropdown-menu> li > a > span.pull-right{
	width:25px;
}
.modal-backdrop.in {
	opacity : 0 !important;
	 z-index: 0;
}
#site-content {
	min-height : 620px;
}




/* ****************** profile Advance Information  css *************************** ******************** */

button.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd; 
}

div.panel {
	margin-left:20%;
    padding: 0 18px;
    display: none;
    background-color: white;
}


/***************************/

.Myown_pic_header{
  width:50%;
  height:auto;
  border:2px solid black;
  margin-top:3%;
  margin-left:25%;
  background-color:black;
  color:white;
  
}

.MyownpicBodyleft{

 float:left;
 width:auto;
 height:auto;
 border:2px solid black;
  margin-top:2%;
 margin-left:2%;
 
}

.MyownpicBodyright{

 float:right;
 width:53%;
 height:auto;
 
  margin-top:2%;
 margin-left:2%;
 color:black;
 
}
.myownpicbtn{
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
	position :relative;
}
.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

